# Virtualenv
.venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Django / DB
db.sqlite3
staticfiles/
media/
.env

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Git
.git-credentials

# Docker artifacts
pg_data/
*.log
